#donationSlider .slider-selection {
  background: #FF7000;
}

#donationSlider .slider-handle {
    background: #FF7000;
}

.slider {
    width: 100%;
}

a {
    color: #FF7000;
}

a:hover {
    color: #FF7000;
}

ol {
    color: #e7e7e7;
}

.ii {
    visibility: hidden;
}

.fa-bb {
    margin-right:10px;
}

ol li small {
    color: #B5B5B5;
}
