.col-centered{
    float: none;
    margin: 0 auto;
}

#donationSlider .slider-selection {
  background: #FF7000;
}

#donationSlider .slider-handle {
    background: #FF7000;
}

.slider {
    width: 100%;
}

a {
    color: #FF7000;
}

a:hover {
    color: #FF7000;
}
